<launch>
    <arg name="waypoints_file" default="$(optenv TRACKSPRAYER_WAYPOINTS_FILE /home/ubuntu/trackSprayRobot/shared_files/waypoints.json)"/>
    <arg name="obstacles_file" default="$(optenv TRACKSPRAYER_OBSTACLES_FILE /home/ubuntu/trackSprayRobot/shared_files/obstacles.json)"/>

    <rosparam file="$(find navigation)/config/navigation.yaml" command="load"/>

    <node name="navigation" pkg="navigation" type="navigation.py" output="screen">
        <param name="waypoints_file" value="$(arg waypoints_file)"/>
    </node>
    <node name="obstacle_avoidance" pkg="navigation" type="obstacle_avoidance_node.py" output="screen">
        <param name="obstacles_file" value="$(arg obstacles_file)"/>
    </node>
</launch>
