<launch>
      <rosparam file="$(find track_spray_robot)/config/motor.yaml" command="load"/>
      <rosparam file="$(find track_spray_robot)/config/rtk_credentials.yaml" command="load"/>
      
      <node name="motor_driver" pkg="track_spray_robot" type="pwm_drive.py"
            output="screen"/>
      <node name="ntrip_client" pkg="track_spray_robot" type="ntrip_client.py" output="screen"/>
      <!-- This node only publishes the gps information on /gps/fix !!!-->
      <node name="gps_node" pkg="track_spray_robot" type="gps_node.py"
            output="screen"/>      
      
</launch>